
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #ff9e9e */
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main {
  margin: 24px 12px;
}

.side_bar {
  position: fixed;
  /* top: 24px;
  left: 24px; */
  width: 200px;
  /* height: 100%; */
  min-height: 100vh;

  border-right: 2px solid #ededed5e;;

  .side_bar-category {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 8px;

    margin-bottom: 40px;
  }

  .side_bar-nav {
    ul {
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
      
      width: 100%;

      li {
        width: 100%;
        height: 48px;
        display:flex;
        justify-content:center;
        align-items:center;
        
        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          gap: 8px;
          width: 100%;

          p{

            font-size: 0.8rem;
          }
        }
      }
      li.active{
        background: #ededed5e;

        a{
          p{
            color: #00a800;
          }
        }
      }
    }
  }
}

.users-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 24px;

  margin-left: 200px;
  padding: 14px 24px;

  .users-search_bar-container{
    display:flex;    
    justify-content:flex-start;
    align-items:center;

    gap: 8px;
    height: 42px;
    padding:0 12px;
    
    border-radius:4px;
    background: #ededed5e;;

    .users-search_bar-logo{

    }
    .users-search_bar-input{
      outline: none;
      border: none;
      background:none;
      height: 100%;
      width: 100%;
    }

    .users-search_bar-input::placeholder{
      color: #9e9e9e
    }
  }

  h2{
    font-size: 1.2rem;
  }

  .users-grid {
    .users-grid-filters {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      margin-bottom: 24px;

      div{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        
        h3{
          font-size: 0.8rem;
          cursor: pointer;
        }
        h3:hover{
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
    .users-grid-list {
      .user-informations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 56px;
        font-size: 0.8rem;

        .user-profile-container,
        .users-email-container,
        .users-phone_number-container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .user-profile-container {
          gap: 8px;
          padding:0 8px;

          .user-profile_picture-container {
            border-radius:50%;
            width: 30px;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .user-informations:nth-child(odd){
        background:#ededed5e;
      }
    }
  }
}

.users-container div,
.users-container h2 {
  width: 100%;
}